@model QuanLyDiem.Models.YeuCauSuaDiem

@{
    ViewData["Title"] = "Delete";
}

<h3>Xóa yêu cầu</h3>

<div>
    <hr />
    <dl class="w3-card w3-white container w3-round-large" style="width:60%">
        <div class="row">
            <dt class = "col-sm-3">
                Giảng viên
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.GiangVien.TenGiangVien)
            </dd>
            <dt class = "col-sm-3">
                Sinh viên
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.SinhVien.TenSinhVien)
            </dd>
        </div>
        <div class="row">
            <dt class = "col-sm-3">
                Học phần
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.HocPhan.TenHocPhan)
            </dd>
            <dt class = "col-sm-3">
                Điểm C
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.DiemChuyenCan)
            </dd>
        </div>
        <div class="row">
            <dt class = "col-sm-3">
                Điểm B
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.DiemKiemTra)
            </dd>
            <dt class = "col-sm-3">
                Điểm C mới
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.DiemChuyenCanMoi)
            </dd>
        </div>
        <div class="row">
            <dt class = "col-sm-3">
                Điểm B mới
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.DiemKiemTraMoi)
            </dd>
            <dt class = "col-sm-3">
                Trạng thái
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.TrangThai)
            </dd>
        </div>
        <div class="row">

            <dt class = "col-sm-3">
                Lý do
            </dt>
            <dd class = "col-sm-3">
                @Html.DisplayFor(model => model.LyDo)
            </dd>
        </div>
    </dl>
    <h4 class="w3-center">Bạn có chắc chắn muốn xóa yêu cầu sửa điểm này?</h4>
    <form class="w3-center" asp-action="Delete">
        <input type="hidden" asp-for="MaYeuCauSuaDiem" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Hủy</a>   
    </form>
</div>
